@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -18900px 0;
    }
}

.scrolling-text {
    background-image: url("/drpbg1.png");
    background-size: auto 200%;
    background-repeat: repeat-x;
    animation: scrollBackground 620s linear infinite;
}